<div class="author-card">
  <img src="/uploads/hui-bio.jpeg" alt="Wang Hui's Photo" class="author-photo">
  <div class="bio-content">
    <p class="author-description">
您好，感谢来访！我是热情洋溢的王辉，坐标巴黎，说流利的、带着河南和东北口音的英语和法语。先是在Murex做技术，搞编程，后来进了初创Contentsquare，顺着公司的发展转了管理。写博客是为了遇到像您一样好奇、上进的人。欢迎搜索微信公众号【技术管理者的自我修养】订阅更新、切磋交流。先唠到这，再来！
    </p>
  </div>
</div>

<style>
  .author-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .author-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .bio-content {
    flex: 1;
  }
    @media (max-width: 768px) {
    .author-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

</style>