.archive .collection-title {
  display: none !important;
}

.archive .collection-year-count {
  display: none !important;
}

/* Hide .post-meta-container if .post-title contains .post-sticky-flag */
.post-title:has(.post-sticky-flag) + .post-meta-container {
    display: none !important;
}